In [1]:
#             Vacation_Itinerary_Module_6_ChallengePart_3

In [19]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import citipy
import requests
import time
import matplotlib
import gmaps

from datetime import datetime

# Import the API key.
from config import weather_api_key
from config import g_key

gmaps.configure(api_key=g_key)

In [20]:
vacation_df = pd.read_csv("WeatherPy_Vacation.csv")

vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name,Hotel name
0,1,Albany,US,75.99,42.60,-73.97,NaN,NaN
1,7,Urumqi,CN,77.00,43.80,87.60,NaN,Hua Ling Grand Hotel Urumqi
2,8,Rikitea,PF,75.38,-23.12,-134.97,NaN,Pension Maro'i
3,9,Puerto Ayora,EC,70.00,-0.74,-90.35,NaN,Finch Bay Galapagos Hotel
4,11,Santa Leopoldina,BR,70.00,-20.10,-40.53,NaN,Pousada e padaria central

In [21]:
# Use the template to add the hotel marks to the heatmap

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [22]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 
vacation_start = vacation_df.loc[vacation_df["City"] == "Billings"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Miami"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Riverton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Snyder"]

In [26]:

start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]

print(start)
print(end)
print(stop1)
print(stop2)

(45.78, -108.5)
(25.77, -80.19)
(40.52, -111.94)
(32.72, -100.92)

In [27]:

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start, end, waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
itenerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

itenerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name,Hotel name
119,403,Billings,US,66.00,45.78,-108.50,NaN,Best Western Plus Clocktower Inn
87,343,Riverton,US,66.99,40.52,-111.94,NaN,Ramada by Wyndham Draper
134,467,Snyder,US,71.60,32.72,-100.92,NaN,Holiday Inn Express & Suites Snyder

In [10]:
itenerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name,Hotel name
0,403,Billings,US,66.00,45.78,-108.50,NaN,Best Western Plus Clocktower Inn
1,343,Riverton,US,66.99,40.52,-111.94,NaN,Ramada by Wyndham Draper
2,467,Snyder,US,71.60,32.72,-100.92,NaN,Holiday Inn Express & Suites Snyder

In [11]:

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itenerary_df.iterrows()]
locations = itenerary_df[["Lat", "Lng"]]

In [28]:
vacation_start = vacation_df.loc[vacation_df["City"] == "Billings"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Miami"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Riverton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Snyder"]





marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))