In [1]:
# Vacation_Search_Module_6_Challenge_Part_2

In [2]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import citipy
import requests
import time
import matplotlib
import gmaps

from datetime import datetime

# Import the API key.
from config import weather_api_key
from config import g_key

gmaps.configure(api_key=g_key)

In [3]:
# Create a DataFrame City Data and do a Panda Read from the WeatherPy_database csv file

city_data_df = pd.read_csv("WeatherPy_database.csv")

In [4]:
city_data_df

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,Qaanaaq,100,GL,overcast clouds,2020-06-20 03:18:34,83,77.48,-69.36,34.21,0.00,0.00,2.28
1,1,Albany,72,US,broken clouds,2020-06-20 03:18:06,85,42.60,-73.97,75.99,0.00,0.00,3.11
2,2,Severo-Kurilsk,100,RU,overcast clouds,2020-06-20 03:18:05,90,50.68,156.12,42.33,0.00,0.00,18.52
3,3,Mataura,84,NZ,broken clouds,2020-06-20 03:17:41,80,-46.19,168.86,46.63,0.00,0.00,1.63
4,4,Palu,85,ID,light rain,2020-06-20 03:19:17,61,-0.89,119.87,87.85,0.38,0.38,2.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,537,Bisalpur,5,IN,clear sky,2020-06-20 03:21:33,56,28.30,79.80,90.16,0.00,0.00,11.52
538,538,Visby,0,SE,clear sky,2020-06-20 03:21:33,93,57.64,18.30,60.01,0.00,0.00,3.36
539,539,Sibolga,100,ID,overcast clouds,2020-06-20 03:21:34,80,1.74,98.78,78.73,0.00,0.00,2.57
540,540,Hurghada,0,EG,clear sky,2020-06-20 03:21:34,36,27.26,33.81,80.60,0.00,0.00,18.34
541,541,Conceicao Do Araguaia,19,BR,few clouds,2020-06-20 03:21:34,78,-8.26,-49.26,75.20,0.00,0.00,1.54

In [5]:
# Check to see the data types of the DataFrame using dtypes() method.

city_data_df.dtypes

City_ID                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Date                    object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)          float64
Snow (inches)          float64
Wind Speed             float64
dtype: object

In [6]:
# Configure gmaps to use the API KEY

gmaps.configure(api_key=g_key)

In [7]:
# Using the input() method, prompt the customer for Minimum and Maximum Temperature preference

min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?65
What is the maximum temperature you would like for your vacation?75

In [8]:
# Ask if customer wants Rain

rain_amount = input("Do you want it to be raining? (yes/no)")

Do you want it to be raining? (yes/no)no

In [9]:
# Ask if customer wants Snow

snow_amount = input("Do you want it to be snowing? (yes/no)")

Do you want it to be snowing? (yes/no)no

In [10]:
# Create filter on the DataFrame for Minimum and Maximum Temperature preferences, and if 
# Rain or Snow accumulation is 0 inches using conditional statements

if rain_amount ==  "no" and snow_amount == "no":
    
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] == 0)]
    
elif rain_amount == "no" and snow_amount == "yes":
    
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] >= 0.0)]
    
elif rain_amount == "yes" and snow_amount == "no":
    
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0.0) &
                                         (city_data_df["Snow (inches)"] == 0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] > 0)]
                
filtered_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
9,9,Puerto Ayora,68,EC,broken clouds,2020-06-20 03:17:45,93,-0.74,-90.35,70.00,0.0,0.0,1.99
11,11,Santa Leopoldina,75,BR,broken clouds,2020-06-20 03:19:19,100,-20.10,-40.53,70.00,0.0,0.0,2.98
15,15,Saint-Philippe,75,RE,broken clouds,2020-06-20 03:17:55,68,-21.36,55.77,69.80,0.0,0.0,14.99
30,30,Ulladulla,0,AU,clear sky,2020-06-20 03:19:23,45,-35.35,150.47,68.00,0.0,0.0,4.70
32,32,Carnarvon,0,AU,clear sky,2020-06-20 03:18:30,64,-24.87,113.63,68.00,0.0,0.0,5.82
38,38,Vao,38,NC,scattered clouds,2020-06-20 03:19:25,81,-22.67,167.48,68.83,0.0,0.0,21.14
49,49,Sudbury,5,CA,clear sky,2020-06-20 03:19:28,64,46.49,-80.99,68.00,0.0,0.0,5.82
57,57,Nelson Bay,9,AU,clear sky,2020-06-20 03:19:30,72,-32.72,152.15,66.99,0.0,0.0,6.93
60,60,Gat,41,IL,scattered clouds,2020-06-20 03:19:31,87,31.61,34.76,70.00,0.0,0.0,7.16
71,71,Avarua,56,CK,broken clouds,2020-06-20 03:17:44,64,-21.21,-159.78,73.40,0.0,0.0,9.17

In [11]:
# Perform a count with count() method

filtered_cities_df.count()

City_ID                109
City                   109
Cloudiness             109
Country                109
Current Description    109
Date                   109
Humidity               109
Lat                    109
Lng                    109
Max Temp               109
Rain (inches)          109
Snow (inches)          109
Wind Speed             109
dtype: int64

In [12]:
# Perform a clean-up and drop NaN

filtered_cities_df = filtered_cities_df.dropna()

filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
9,9,Puerto Ayora,68,EC,broken clouds,2020-06-20 03:17:45,93,-0.74,-90.35,70.00,0.0,0.0,1.99
11,11,Santa Leopoldina,75,BR,broken clouds,2020-06-20 03:19:19,100,-20.10,-40.53,70.00,0.0,0.0,2.98
15,15,Saint-Philippe,75,RE,broken clouds,2020-06-20 03:17:55,68,-21.36,55.77,69.80,0.0,0.0,14.99
30,30,Ulladulla,0,AU,clear sky,2020-06-20 03:19:23,45,-35.35,150.47,68.00,0.0,0.0,4.70
32,32,Carnarvon,0,AU,clear sky,2020-06-20 03:18:30,64,-24.87,113.63,68.00,0.0,0.0,5.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,519,Fort Madison,1,US,clear sky,2020-06-20 03:19:04,100,40.63,-91.32,69.80,0.0,0.0,3.36
522,522,Trairi,6,BR,clear sky,2020-06-20 03:21:30,91,-3.28,-39.27,74.73,0.0,0.0,6.76
528,528,Wilmington,1,US,clear sky,2020-06-20 03:21:31,88,34.23,-77.94,73.99,0.0,0.0,4.70
530,530,Ipora,81,BR,broken clouds,2020-06-20 03:21:32,66,-16.44,-51.12,65.52,0.0,0.0,2.26
531,531,Noumea,75,NC,broken clouds,2020-06-20 03:19:08,73,-22.28,166.46,71.60,0.0,0.0,20.80

In [13]:
# Create a DataFrame variable for Hotel with coloumn data of interest

hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

hotel_df.head()

                City Country  Max Temp    Lat     Lng Hotel Name
9       Puerto Ayora      EC      70.0  -0.74  -90.35
11  Santa Leopoldina      BR      70.0 -20.10  -40.53
15    Saint-Philippe      RE      69.8 -21.36   55.77
30         Ulladulla      AU      68.0 -35.35  150.47
32         Carnarvon      AU      68.0 -24.87  113.63

In [14]:
# Settings form gmaps for parameters


params = {
    "radius" : 5000,
    "type"   : "lodging",
    "key"    : g_key
}

# Use a For loop to iterate through

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel name"] = hotels["results"][0]["name"]
    except IndexError:
            print("Hotel not found.......moving on....skipping..")

Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..

In [15]:
# Verify by reading out first five rows of the DataFrame

hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name,Hotel name
9,Puerto Ayora,EC,70.0,-0.74,-90.35,,Finch Bay Galapagos Hotel
11,Santa Leopoldina,BR,70.0,-20.10,-40.53,,Pousada e padaria central
15,Saint-Philippe,RE,69.8,-21.36,55.77,,"Chambres d'hÃ´te ""La TrinitÃ©"""
30,Ulladulla,AU,68.0,-35.35,150.47,,Sandpiper Motel
32,Carnarvon,AU,68.0,-24.87,113.63,,Hospitality Carnarvon

In [16]:
# Output the hotel_df to a file in csv format

output_data_file = "WeatherPy_Vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# Now we read the WeatherPy_Vacation.csv and convert to a DataFrame

vacation_df = pd.read_csv("WeatherPy_Vacation.csv")

vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name,Hotel name
0,9,Puerto Ayora,EC,70.0,-0.74,-90.35,NaN,Finch Bay Galapagos Hotel
1,11,Santa Leopoldina,BR,70.0,-20.10,-40.53,NaN,Pousada e padaria central
2,15,Saint-Philippe,RE,69.8,-21.36,55.77,NaN,"Chambres d'hÃ´te ""La TrinitÃ©"""
3,30,Ulladulla,AU,68.0,-35.35,150.47,NaN,Sandpiper Motel
4,32,Carnarvon,AU,68.0,-24.87,113.63,NaN,Hospitality Carnarvon

In [18]:
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.

max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

#heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# 5. Add the heatmap layer.

fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Use the template to add the hotel marks to the heatmap

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [21]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Modify the attribubes for dissipation and radius

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)


fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))